In [61]:
from __future__ import division
from subprocess import call
import pandas as pd

In [38]:
filename = '000300closeweight.xls'
# filename = '000905closeweight.xls'
urlPrefix = 'ftp://115.29.204.48/webdata/'
url = urlPrefix + filename
url

'ftp://115.29.204.48/webdata/000300closeweight.xls'

In [37]:
call(['rm', filename])
result = call(['wget', url])
print result

0

In [62]:
df = pd.io.excel.read_excel('000300closeweight.xls')
df = df[['Date', 'Constituent Code', 'Weight(%)']]
df.columns = ['date', 'code', 'weight']
df['code'] = df.code.apply(lambda x: str(x).zfill(6))
df['weight']  = df['weight'] / 100
df

           date    code  weight
0    2016-03-01  000001  0.0072
1    2016-03-01  000002  0.0245
2    2016-03-01  000009  0.0019
3    2016-03-01  000027  0.0010
4    2016-03-01  000039  0.0013
5    2016-03-01  000046  0.0021
6    2016-03-01  000060  0.0021
7    2016-03-01  000061  0.0014
8    2016-03-01  000063  0.0043
9    2016-03-01  000069  0.0029
10   2016-03-01  000100  0.0042
11   2016-03-01  000156  0.0003
12   2016-03-01  000157  0.0024
13   2016-03-01  000166  0.0044
14   2016-03-01  000333  0.0074
15   2016-03-01  000338  0.0023
16   2016-03-01  000400  0.0010
17   2016-03-01  000402  0.0018
18   2016-03-01  000413  0.0016
19   2016-03-01  000415  0.0016
20   2016-03-01  000423  0.0031
21   2016-03-01  000425  0.0016
22   2016-03-01  000503  0.0018
23   2016-03-01  000538  0.0037
24   2016-03-01  000539  0.0006
25   2016-03-01  000540  0.0016
26   2016-03-01  000559  0.0022
27   2016-03-01  000568  0.0018
28   2016-03-01  000581  0.0011
29   2016-03-01  000598  0.0013
..          ...     ...     ...
270  2016-03-01  601718  0.0017
271  2016-03-01  601727  0.0033
272  2016-03-01  601766  0.0112
273  2016-03-01  601788  0.0023
274  2016-03-01  601800  0.0021
275  2016-03-01  601808  0.0009
276  2016-03-01  601818  0.0070
277  2016-03-01  601857  0.0046
278  2016-03-01  601866  0.0018
279  2016-03-01  601872  0.0013
280  2016-03-01  601888  0.0021
281  2016-03-01  601898  0.0012
282  2016-03-01  601899  0.0040
283  2016-03-01  601901  0.0035
284  2016-03-01  601919  0.0022
285  2016-03-01  601928  0.0010
286  2016-03-01  601933  0.0021
287  2016-03-01  601939  0.0040
288  2016-03-01  601958  0.0009
289  2016-03-01  601969  0.0003
290  2016-03-01  601985  0.0042
291  2016-03-01  601988  0.0087
292  2016-03-01  601989  0.0072
293  2016-03-01  601991  0.0015
294  2016-03-01  601992  0.0014
295  2016-03-01  601998  0.0021
296  2016-03-01  603000  0.0011
297  2016-03-01  603288  0.0009
298  2016-03-01  603885  0.0004
299  2016-03-01  603993  0.0011

[300 rows x 3 columns]

In [34]:
ls

README.md  Untitled.ipynb